<pre>{{msg}}</pre>
<pre>{{msg | trim}}</pre>

<textarea [(ngModel)]='memo' cols='50' rows='7'></textarea>
<div [innerHTML]='memo | nl2br'></div>

<textarea [(ngModel)]='memo2' cols='50' row='7'></textarea>
<div>{{memo2 | truncate}}</div>
<div>{{memo2 | truncate: 20: '〜'}}</div>

<ul>
  <li *ngFor='let d of (data | grep: myFilter)'>{{d}}</li>
</ul>

<form>
  <label>キーワード：
    <input #txt type='text' size='15' />
  </label>
  <input type='button' (click)='onclick(txt.value)' value='追加' />
  <ul>
    <li *ngFor='let d of (data | grep: myFilter)'>{{d}}</li>
  </ul>
</form>

<!-- JavaScript F/Wの代表としてよく挙げられるのが
<span myColored myBgcolor='#f0f'>Angular</span>です。 -->

JavaScript F/Wの代表としてよく挙げられるのが
<span myColored='#f0f'>Angular</span>です。

<form #myForm='ngForm'>
  <label>
    郵便番号；
    <input type='text' name='zip' [(ngModel)]='data2.zip' #zip='ngModel' myZip />
  </label>
  <span *ngIf='zip.errors?.zip'>郵便番号は999-9999の形式で入力してください。</span>
</form>

<div *myDeadline='end'>
  <h2>ただいま全品半額セール中！</h2>
  <p>（ただし、食品・衣料品は除く）</p>
</div>
